.icon[char=girlf] img {
    content: url(../../images/icons/17bucks-gf.png);
 }

.character[char=girlf] {
    --idle: girlf-idle;
    --left: girlf-left;
    --up: girlf-up;
    --right: girlf-right;
    --down: girlf-down;
    --left-miss: girlf-left-miss;
    --down-miss: girlf-down-miss;
    --up-miss: girlf-up-miss;
    --right-miss: girlf-right-miss;
}
.character[char=girlf] img {
    content: url(../../images/characters/17bucks-gf.webp);
    --image-height: 6088;
    --image-width: 8192;
}

@keyframes girlf-down { 
    0% { --x: 0; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    12% { --x: 496; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    25% { --x: 992; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    37% { --x: 1488; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    50% { --x: 1984; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    62% { --x: 2480; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    75% { --x: 2976; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    87% { --x: 3472; --y: 0; --frameWidth: 496; --frameHeight: 675; }
    100% { --x: 3968; --y: 0; --frameWidth: 496; --frameHeight: 675; }
}
@keyframes girlf-idle { 
    0% { --x: 4464; --y: 0; --frameWidth: 561; --frameHeight: 748; }
    7% { --x: 5025; --y: 0; --frameWidth: 561; --frameHeight: 748; }
    15% { --x: 5586; --y: 0; --frameWidth: 561; --frameHeight: 748; }
    23% { --x: 6147; --y: 0; --frameWidth: 561; --frameHeight: 748; }
    30% { --x: 6708; --y: 0; --frameWidth: 561; --frameHeight: 748; }
    38% { --x: 7269; --y: 0; --frameWidth: 561; --frameHeight: 748; }
    46% { --x: 0; --y: 748; --frameWidth: 561; --frameHeight: 748; }
    53% { --x: 561; --y: 748; --frameWidth: 561; --frameHeight: 748; }
    61% { --x: 1122; --y: 748; --frameWidth: 561; --frameHeight: 748; }
    69% { --x: 1683; --y: 748; --frameWidth: 561; --frameHeight: 748; }
    76% { --x: 2244; --y: 748; --frameWidth: 561; --frameHeight: 748; }
    84% { --x: 2805; --y: 748; --frameWidth: 561; --frameHeight: 748; }
    92% { --x: 3366; --y: 748; --frameWidth: 561; --frameHeight: 748; }
    100% { --x: 3927; --y: 748; --frameWidth: 561; --frameHeight: 748; }
}
@keyframes girlf-left { 
    0% { --x: 4488; --y: 748; --frameWidth: 475; --frameHeight: 726; }
    25% { --x: 4963; --y: 748; --frameWidth: 475; --frameHeight: 726; }
    50% { --x: 5438; --y: 748; --frameWidth: 475; --frameHeight: 726; }
    75% { --x: 5913; --y: 748; --frameWidth: 475; --frameHeight: 726; }
    100% { --x: 6388; --y: 748; --frameWidth: 475; --frameHeight: 726; }
}
@keyframes girlf-miss-down { 
    0% { --x: 6863; --y: 748; --frameWidth: 496; --frameHeight: 690; }
    6% { --x: 7359; --y: 748; --frameWidth: 496; --frameHeight: 690; }
    12% { --x: 0; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    18% { --x: 496; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    25% { --x: 992; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    31% { --x: 1488; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    37% { --x: 1984; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    43% { --x: 2480; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    50% { --x: 2976; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    56% { --x: 3472; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    62% { --x: 3968; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    68% { --x: 4464; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    75% { --x: 4960; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    81% { --x: 5456; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    87% { --x: 5952; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    93% { --x: 6448; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
    100% { --x: 6944; --y: 1496; --frameWidth: 496; --frameHeight: 690; }
}
@keyframes girlf-miss-left { 
    0% { --x: 7440; --y: 1496; --frameWidth: 520; --frameHeight: 722; }
    6% { --x: 0; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    13% { --x: 520; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    20% { --x: 1040; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    26% { --x: 1560; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    33% { --x: 2080; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    40% { --x: 2600; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    46% { --x: 3120; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    53% { --x: 3640; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    60% { --x: 4160; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    66% { --x: 4680; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    73% { --x: 5200; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    80% { --x: 5720; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    86% { --x: 6240; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    93% { --x: 6760; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
    100% { --x: 7280; --y: 2218; --frameWidth: 520; --frameHeight: 722; }
}
@keyframes girlf-miss-right { 
    0% { --x: 0; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    7% { --x: 594; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    15% { --x: 1188; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    23% { --x: 1782; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    30% { --x: 2376; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    38% { --x: 2970; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    46% { --x: 3564; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    53% { --x: 4158; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    61% { --x: 4752; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    69% { --x: 5346; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    76% { --x: 5940; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    84% { --x: 6534; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    92% { --x: 7128; --y: 2940; --frameWidth: 594; --frameHeight: 742; }
    100% { --x: 0; --y: 3682; --frameWidth: 594; --frameHeight: 742; }
}
@keyframes girlf-miss-up { 
    0% { --x: 594; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    6% { --x: 1064; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    13% { --x: 1534; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    20% { --x: 2004; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    26% { --x: 2474; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    33% { --x: 2944; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    40% { --x: 3414; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    46% { --x: 3884; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    53% { --x: 4354; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    60% { --x: 4824; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    66% { --x: 5294; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    73% { --x: 5764; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    80% { --x: 6234; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    86% { --x: 6704; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    93% { --x: 7174; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
    100% { --x: 7644; --y: 3682; --frameWidth: 470; --frameHeight: 862; }
}
@keyframes girlf-right { 
    0% { --x: 0; --y: 4544; --frameWidth: 594; --frameHeight: 735; }
    25% { --x: 594; --y: 4544; --frameWidth: 594; --frameHeight: 735; }
    50% { --x: 1188; --y: 4544; --frameWidth: 594; --frameHeight: 735; }
    75% { --x: 1782; --y: 4544; --frameWidth: 594; --frameHeight: 735; }
    100% { --x: 2376; --y: 4544; --frameWidth: 594; --frameHeight: 735; }
}
@keyframes two-gf { 
    0% { --x: 2970; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    7% { --x: 3537; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    15% { --x: 4104; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    23% { --x: 4671; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    30% { --x: 5238; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    38% { --x: 5805; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    46% { --x: 6372; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    53% { --x: 6939; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    61% { --x: 7506; --y: 4544; --frameWidth: 567; --frameHeight: 748; }
    69% { --x: 0; --y: 5292; --frameWidth: 567; --frameHeight: 748; }
    76% { --x: 567; --y: 5292; --frameWidth: 567; --frameHeight: 748; }
    84% { --x: 1134; --y: 5292; --frameWidth: 567; --frameHeight: 748; }
    92% { --x: 1701; --y: 5292; --frameWidth: 567; --frameHeight: 748; }
    100% { --x: 2268; --y: 5292; --frameWidth: 567; --frameHeight: 748; }
}
@keyframes girlf-up { 
0% { --x: 2835; --y: 5292; --frameWidth: 449; --frameHeight: 796; }
33% { --x: 3284; --y: 5292; --frameWidth: 449; --frameHeight: 796; }
66% { --x: 3733; --y: 5292; --frameWidth: 449; --frameHeight: 796; }
100% { --x: 4182; --y: 5292; --frameWidth: 449; --frameHeight: 796; }
}